@model Andamios.Web.Areas.Usuarios.Models.ResetPasswordViewModel
@{
    var rp = Model;
}

@*style="color:#a5d6a7*@

<form id="userInformations" asp-antiforgery="true" class="register-form" asp-area="Identity" asp-controller="Account" asp-action="ResetPassword" method="post">
    <div class="modal-content">
        <a href="#" class="tooltipped modal-close  right " style="color:#28D477" data-position="top" data-tooltip="Cerrar"><i class="material-icons"> cancel</i></a>

        <h4 class="teal-text lighten-2">Cambiar Contraseña</h4>
        <h6 class="grey-text lighten-2 ml-2">Usuario: <strong>@Model.UserName</strong>  </h6>
        <div class="row">
            <div class="col s12 m12 l12">

                <input asp-for="@Model.UserName" type="hidden" />
                <input asp-for="@Model.Id" type="hidden" />
                <input asp-for="@Model.Code" type="hidden" />

                <div class="row margin">
                    <div class="input-field col s9">
                        <i class="material-icons prefix pt-2">lock_outline</i>
                        <input class="validate" id="Password" type="password" asp-for="@Model.Password" />
                        <label for="Password" class="center-align">Contraseña</label>
                        <div><span id="contraseña" class="red-text"></span></div>
                        <span asp-validation-for="Password" class="red-text"></span>

                    </div>
                </div>



            </div>

            <div class="col s12 m12 l12">


                <div class="row margin">
                    <div class="input-field col s9">
                        <i class="material-icons prefix pt-2">lock_outline</i>
                        <input class="validate" id="ConfirmPassword" type="password" asp-for="@Model.ConfirmPassword" />
                        <label for="ConfirmPassword" class="center-align">Confirmar contraseña</label>
                        <span asp-validation-for="ConfirmPassword" class="red-text"></span>
                        <div><span id="diferentes" class="red-text"></span></div>
                    </div>
                </div>


            </div>
            <div class="row ">
                @*  <div class="input-field col s12 m12 l12"> *@
                <div class="input-field col s3 m13 l5">

                    <button type="submit" class="btn waves-effect waves-light border-round teal col s12 btn-small  ">
                        <i class="material-icons dp48">save</i>
                        Cambiar Contraseña
                    </button>
                    @*  </div>*@
                </div>
            </div>

        </div>
    </div>
</form>
