@model Inafocam.Web.Areas.SeguimientoDeUniversidades.Models.PlanificaciónDeLaPrácticaViewModel

@{ ViewData["Title"] = "Create";

    MensajesViewModel mensaje = new MensajesViewModel();

    if (TempData["mensaje"] != null)
    {

        mensaje = TempData.Get<MensajesViewModel>("mensaje");

    }
    var count = 1; }

@section Style
{
    <link href="~/app-assets/vendors/noUiSlider/nouislider.css" rel="stylesheet" />
    <link href="~/app-assets/css/custom/custom.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-confirm/dist/jquery-confirm.min.css" rel="stylesheet" />

}


@* BREADCRUMB *@
@await Component.InvokeAsync("BreadcrumbComponent", new
{
    area = (string)ViewData["area"],
    controlador = (string)ViewData["controlador"],
    controller = (string)ViewData["controller"],
    vista = (string)ViewData["vista"]
})
@* END BREADCRUMB *@



<div class="row">
    <form class="col s12 formValidate" enctype="multipart/form-data" method="post" asp-area="SeguimientoDeUniversidades" asp-controller="SeguimientoDeUniversida" asp-action="SavePlanificaciónDeLaPráctica">


        <input type="hidden" asp-for="TracingId" />
        <input type="hidden" asp-for="ScholarshipProgramUniversityId" />
        <input type="hidden" asp-for="PracticePlanningModel.TracingId" />
        <input type="hidden" asp-for="PracticePlanningModel.CreationDate" />
        <input type="hidden" asp-for="PracticePlanningModel.UpgradeDate" />
        <input type="hidden" asp-for="PracticePlanningModel.CreationDate" />
        <input type="hidden" asp-for="IsGestionUniversitariaRole" />

        <div>
            <span asp-validation-sumary=""></span>
        </div>

        <div class="card">
            <div class="card-content">

                <h4 class="card-title"> Planificación de la práctica</h4>

                <br />
                <h4 class="card-title">
                    A continuación solo seleccione la  planificación de la práctica que desea anexar o sustiturir!
                </h4>


                <div class="row ">
                    <div class="input-field col s12 m6 l4">

                        <div class="row">
                            <label for="select2User" class="col s12">Planificación de la práctica</label>
                        </div>
                        <select asp-for="PracticePlanningModel.ActionTypeId" class="form-control js-example-basic-single" style="width: 100%" asp-items="ViewBag.ActionType">
                            <option value="" disabled selected>Seleccione una Opción</option>
                        </select>

                    </div>



                    @*<div class=" input-field col s12 m6 l2">
                            <input asp-for="PracticePlanningModel.Finished" id="Finished" type="text" class="validat black-text datepicker">
                            <label for="Finished">Finalizada</label>
                        </div>*@

                    <div class=" input-field col s12 m6 l8">
                        <textarea asp-for="PracticePlanningModel.Comment" id="Comment" class="materialize-textarea" required></textarea>
                        <label for="Comment">Observación</label>
                    </div>

                    @*<div class="input-field col s12 m6 l1">
                            <br />
                            <button class="teal btn-small waves-effect waves-light tooltipped" data-position="top" data-tooltip="Agregar"><i class="material-icons">arrow_forward</i></button>



                        </div>*@
                </div>

                <div class="row">
                    <div class="input-field col s12 m6 l4">
                        <label>Comenzó?</label>
                        <br />
                        <br />
                        <p>
                            <label>
                                <input name="Started" value="1" type="radio" @(Html.Raw(Model.Started == 1 ? "checked=\" checked\"" : "")) />
                                <span>SI</span>
                            </label>
                        </p>

                        <p>
                            <label>
                                <input name="Started" value="0" type="radio" @(Html.Raw(Model.Started == 0 ? "checked=\" checked\"" : "")) />
                                <span>NO</span>
                            </label>
                        </p>
                    </div>

                    <div class="input-field col s12 m6 l4">
                        <label>Finalizó?</label>
                        <br />
                        <br />
                        <p>
                            <label>
                                <input name="Finished" value="1" type="radio" @(Html.Raw(Model.Finished == 1 ? "checked=\" checked\"" : "")) />
                                <span>SI</span>
                            </label>
                        </p>

                        <p>
                            <label>
                                <input name="Finished" value="0" type="radio" @(Html.Raw(Model.Finished == 0 ? "checked=\" checked\"" : "")) />
                                <span>NO</span>
                            </label>
                        </p>
                    </div>

                    <div class="input-field col s12 m6 l1">
                        <br />
                        <br />
                        <br />
                        @if (Model.IsGestionUniversitariaRole)
                        {
                    <button class="teal btn-small waves-effect waves-light tooltipped left" data-position="top" data-tooltip="Agregar"><i class="material-icons">arrow_forward</i></button>
                        }


                                </div>
                </div>

                <br />
                <span class="card-title">Información Anexa</span>
                <div class="divider"></div>
                <div class="col s12">
                    <table>
                        <thead>
                            <tr>
                                <th>Planificación de la práctica</th>
                                <th>Iniciada</th>
                                <th>Finalizada</th>
                                <th>Observación</th>
                                <th>Fecha de creación</th>
                                <th>Acciones</th>
                                @*<th>Cantidad de docentes anfitriones</th>*@
                            </tr>
                        </thead>



                        <tbody>

                       @foreach (var item in Model.PracticePlanningList)
                       {
                           var numero = count++;
                           var doesItFinished = item.Finished == 1 ? "Si" : "No";
                           var doesItStarted = item.Started == 1 ? "Si" : "No";
                                        <tr>

                                            <td>@item.ActionType.ActionTypeName</td>
                                            <td>@doesItStarted</td>
                                            <td>@doesItFinished</td>
                                            <td>@item.Comment</td>
                                            <td>@item.CreationDate</td>
                                            <td>
                                                <span class="badge flow-text">
                                                    <a class="tooltipped" data-position="top" data-tooltip="Agregar comentario"
                                                       asp-area="SeguimientoDeUniversidades"
                                                       asp-controller="SeguimientoDeUniversida"
                                                       asp-action="AgregarComentario"
                                                       asp-route-tracingId="@Model?.TracingId"
                                                       asp-route-scholarshipProgramUniversityId="@Model?.ScholarshipProgramUniversityId"
                                                       asp-route-screenComment="@PantallasModel.PlanificaciónDeLaPráctica"
                                                       asp-route-description="@item?.ActionType?.ActionTypeName"
                                                       asp-route-actionName="@ActionsNames.PlanificaciónDeLaPráctica">
                                                        <i class="material-icons">comment</i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                       }




                        </tbody>
                    </table>
                </div>



            </div>
            @*<div class="input-field col s12">
                    <button class="teal btn waves-effect waves-light" type="submit" onclick="onValidate(this.parent)">
                        Guardar
                        <i class="material-icons right">save</i>
                    </button>
                </div>*@
        </div>

        <div class="input-field col s12">





            <a class="red btn waves-effect waves-light" asp-area="SeguimientoDeUniversidades" asp-controller="SeguimientoDeUniversida" asp-action="EstudiantesEnPractica" asp-route-tracingId="@Model.TracingId" asp-route-scholarshipProgramUniversityId="@Model.ScholarshipProgramUniversityId">

                Atras
            </a>

            <a class="teal btn waves-effect waves-light" asp-area="SeguimientoDeUniversidades" asp-controller="SeguimientoDeUniversida" asp-action="SeguimientoALapráctica" asp-route-tracingId="@Model.TracingId" asp-route-scholarshipProgramUniversityId="@Model.ScholarshipProgramUniversityId">

                Siguiente
            </a>

        </div>

    </form>
</div>

@section Scripts
{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/app-assets/vendors/jquery-validation/jquery.validate.js"></script>
    <script src="~/app-assets/vendors/jquery-validation/additional-methods.js"></script>
    <script src="~/app-assets/vendors/jquery-cookies/jquery.cookies.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- BEGIN VENDOR JS-->
    <script src="~/app-assets/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME JS-->
    <script src="~/app-assets/js/plugins.js" type="text/javascript"></script>
    <script src="~/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/app-assets/js/toastr.init.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/formatter/jquery.formatter.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-confirm/dist/jquery-confirm.min.js"></script>
    <script src="~/app-assets/js/scripts/extra-components-sweetalert.js" type="text/javascript"></script>
    @*<script src="~/app-assets/js/scripts/form-elements.js"></script>
        <script src="~/app-assets/js/scripts/form-masks.js"></script>
        @*<script src="~/app-assets/js/scripts/form-layouts.js" type="text/javascript"></script>*@
    @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <script>
        @*$('#descripcionTxtArea').val('@Model.Descripcion');
        M.textareaAutoResize($('#textarea2'));*@


        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                placeholder: "Seleccione una Opción",
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, options);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('.datepicker').datepicker();
        });


                if ("@mensaje.Tipo".length > 0) {
            $.confirm({
                title: '@mensaje.Titulo',
                content: '@mensaje.Texto',
                type: '@mensaje.Tipo',
                typeAnimated: true,
                boxWidth: '500px',
                autoClose: 'cerrar|9000',
                useBootstrap: false,
                buttons: {
                    cerrar:{
                        text: "Cerrar",
                        action: function () { }
                    }
                },
                onClose: function () {
                    // before the modal is hidden.
                    $.ajax({
                        type: 'get',
                        url: '/home/ClearTempData',
                        success: function() {

                        }
                    });
                }
            });

        }
    </script>
}
