@*@using Andamios.Core.Interfaces

@inject IUsuario Usuarios*@

@{
    MensajesViewModel accessoDenegado = new MensajesViewModel();

    if (TempData["accessoDenegado"] != null)
    {

        accessoDenegado = TempData.Get<MensajesViewModel>
            ("accessoDenegado");

    }


    MensajesViewModel mensaje = new MensajesViewModel();

    if (TempData["mensaje"] != null)
    {

        mensaje = TempData.Get<MensajesViewModel>("mensaje");

    }
}

@section Style {



    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/pricing.css">

    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/custom/custom.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-confirm/dist/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/app-assets/css/pages/component-navbar.css" />
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/custom/custom.css">\
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/dashboard.css">
    <!-- END: Custom CSS-->
}


<!--Simple Line Chart-->
<div class="row">

    <h4 class="header">Grupo de gráfica 1</h4>
    <p>
        Muestre el gráfico de tendencias de su empresa utilizando estos widgets.
    </p>
    <div class="col s12 m6 l3">
        <div class="ct-chart card z-depth-2 border-radius-6">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h4 class="card-title">Visita total</h4>
                    </div>
                    <div class="col s12 display-flex">
                        <div id="sales-bar-1"></div>
                        <p class="mt-4 pink-text accent-2">
                            <i class="material-icons dp48 vertical-align-bottom">arrow_upward</i>
                            9504
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="ct-chart card z-depth-2 border-radius-6">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h4 class="card-title">Total de Páginas vistas</h4>
                    </div>
                    <div class="col s12 display-flex">
                        <div id="sales-bar-2"></div>
                        <p class="mt-4 blue-text">
                            <i class="material-icons dp48 vertical-align-bottom">arrow_upward</i>
                            1896
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="ct-chart card z-depth-2 border-radius-6">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h4 class="card-title">Visitante único</h4>
                    </div>
                    <div class="col s12 display-flex light-green-text">
                        <div id="sales-bar-3"></div>
                        <p class="mt-4 ">
                            <i class="material-icons dp48 vertical-align-bottom">arrow_upward</i>
                            8546
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="ct-chart card z-depth-2 border-radius-6">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h4 class="card-title">Porcentaje de rebote</h4>
                    </div>
                    <div class="col s12 display-flex amber-text accent-2">
                        <div id="sales-bar-4"></div>
                        @*<p class="mt-4 ">
                            <i class="material-icons dp48 vertical-align-bottom">arrow_downward</i>
                            15%
                        </p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider mt-2"></div>


    @*@{
            var requestCulture = Context.Features.Get<IRequestCultureFeature>();
            var cultureItems = LocOptions.Value.SupportedUICultures
                .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
                .ToList();
            var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";

        }*@

    @* ACCIONES *@
    <div class="col s12">
        <br>
        <br>
        <div class="divider"></div>
        <h4 class="header">Modulos</h4>
        @*@await Html.PartialAsync("_SelectLanguagePartial")
            <a class="twitter" data-title="Goto twitter?" onclick="idioma('@Url.Action("SetLanguage", "Home", new{ area = "", returnUrl="Home", culture="en"})')">Goto twitter</a>*@





    </div>

    <div class="plans-container">


        <a asp-area="ProgramasDeBecas" asp-controller="ProgramaDeBeca" asp-action="Index">
            <div class="col s12 m6 l3">
                <div class="card hoverable animate fadeLeft">
                    <div class="card-image blue darken-1 waves-effect">

                        <br />
                        <br />

                        <div class="card-title">Programa de Beca</div>


                        <div class="price blue darken-1 mt-10">



                        </div>
                    </div>

                </div>
            </div>
        </a>

        <a asp-area="ConvocatoriaDeBecas" asp-controller="ConvocatoriaDeBeca" asp-action="Index">
            <div class="col s12 m6 l3">
                <div class="card hoverable animate fadeLeft">
                    <div class="card-image blue darken-1 waves-effect">
                        <br />
                        <br />
                        <div class="card-title">Convocatoria de Becas</div>



                        <div class="price blue darken-1 mt-10">



                        </div>

                    </div>

                </div>
            </div>
        </a>



        <a asp-area="AcuerdoProgramasdeBecas" asp-controller="AcuerdoProgramasdeBeca" asp-action="Index">

            <div class="col s12 m6 l3">
                <div class="card hoverable animated fadeInDown" style="height: 200%">




                    <div class="card-image blue darken-1 waves-effect">
                        <br />
                        <br />

                        <div class="card-title">Acuerdo en Programas de Becas</div>


                        <div class="price blue darken-1 mt-10">



                        </div>

                    </div>




                </div>
            </div>
        </a>






        <a asp-area="ProgramacionDeSeguimiento" asp-controller="ProgramacionDeSeguimiento" asp-action="Index">
            <div class="col s12 m6 l3">
                <div class="card hoverable animate fadeRight">
                    <div class="card-image blue darken-1 waves-effect">

                        <br />
                        <br />

                        <div class="card-title">Programación de Seguimientos</div>

                        <div class="price blue darken-1 mt-10">



                        </div>
                    </div>

                </div>
            </div>
        </a>



    </div>



    <div class="col s12">
        <br>
        <br>
        <div class="divider"></div>
        <h4 class="header">Acciones</h4>
    </div>

    <div class="plans-container">


        <a asp-area="InstitucionFomadora" asp-controller="InstitucionFomadora" asp-action="Index">

            <div class="col s12 m6 l4">
                <div class="card hoverable animate fadeUp">
                    <div class="card-image blue darken-1 waves-effect">

                        
                        <div class="card-title mt-5">Institución Formadora</div>

                        <div class="price blue darken-1 mt-5">



                        </div>
                    </div>
              
                </div>
            </div>
        </a>

        <a href="#">
            <div class="col s12 m6 l4">
                <div class="card hoverable animate fadeLeft">
                    <div class="card-image blue darken-1 waves-effect">
                       
                        
                        <div class="card-title mt-5 mb-5">Mantenimientos</div>

                       
                    </div>
                   
                </div>
            </div>
        </a>

        <div class="col s12 m6 l4">
            <a asp-area="Usuarios" asp-controller="Usuario" asp-action="Index">
                <div class="card hoverable animate fadeRight">
                    <div class="card-image blue darken-1 waves-effect">
                      
                        
                        <div class="card-title mt-5 mb-5">SEGURIDAD</div>

               
                    </div>
               
                </div>


            </a>
        </div>





    </div>


    @* FIN ACCIONES *@
    <!--chart dashboard start-->
    @*<div id="chart-dashboard" class="seaction">
            <h4 class="header">Grupo de gráficas 2 </h4>
            <p>Show your business trending chart using this widgets.</p>
            <div class="row">
                <div class="col s12 m8 l8">
                    <div class="card">
                        <div class="card-move-up waves-effect waves-block waves-light">
                            <div class="move-up cyan darken-1">
                                <div>
                                    <span class="chart-title white-text">Revenue</span>
                                    <div class="chart-revenue cyan darken-2 white-text">
                                        <p class="chart-revenue-total">$4,500.85</p>
                                        <p class="chart-revenue-per"><i class="material-icons">arrow_drop_up</i> 21.80 %</p>
                                    </div>
                                    <div class="switch chart-revenue-switch right">
                                        <label class="cyan-text text-lighten-5">
                                            Month <input type="checkbox" /> <span class="lever"></span> Year
                                        </label>
                                    </div>
                                </div>
                                <div class="revenue-line-chart-wrapper"><canvas id="revenue-line-chart" height="70"></canvas></div>
                            </div>
                        </div>
                        <div class="card-content">
                            <a class="btn-floating btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                                <i class="material-icons activator">filter_list</i>
                            </a>
                            <div class="col s12 m3 l3">
                                <div id="doughnut-chart-wrapper">
                                    <canvas id="doughnut-chart" height="200"></canvas>
                                    <div class="doughnut-chart-status">
                                        <p class="center-align font-weight-600 mt-4">4500</p>
                                        <p class="ultra-small center-align">Sold</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m2 l2">
                                <ul class="doughnut-chart-legend">
                                    <li class="mobile ultra-small"><span class="legend-color"></span>Mobile</li>
                                    <li class="kitchen ultra-small"><span class="legend-color"></span> Kitchen</li>
                                    <li class="home ultra-small"><span class="legend-color"></span> Home</li>
                                </ul>
                            </div>
                            <div class="col s12 m5 l6">
                                <div class="trending-bar-chart-wrapper"><canvas id="trending-bar-chart" height="90"></canvas></div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                Revenue by Month <i class="material-icons right">close</i>
                            </span>
                            <table class="responsive-table">
                                <thead>
                                    <tr>
                                        <th data-field="id">ID</th>
                                        <th data-field="month">Month</th>
                                        <th data-field="item-sold">Item Sold</th>
                                        <th data-field="item-price">Item Price</th>
                                        <th data-field="total-profit">Total Profit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>January</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>February</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>March</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>April</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>May</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>June</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>July</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>August</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Septmber</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Octomber</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>November</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>December</td>
                                        <td>122</td>
                                        <td>100</td>
                                        <td>$122,00.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-move-up blue darken-1 accent-4 waves-effect waves-block waves-light">
                            <div class="move-up">
                                <p class="margin white-text">Browser Stats</p>
                                <canvas id="trending-radar-chart" height="114"></canvas>
                            </div>
                        </div>
                        <div class="card-content  blue darken-1">
                            <a class="btn-floating btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                                <i class="material-icons activator">done</i>
                            </a>
                            <div class="line-chart-wrapper">
                                <p class="margin white-text">Revenue by country</p>
                                <canvas id="line-chart" height="114"></canvas>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                Revenue by country <i class="material-icons right">close</i>
                            </span>
                            <table class="responsive-table">
                                <thead>
                                    <tr>
                                        <th data-field="country-name">Country Name</th>
                                        <th data-field="item-sold">Item Sold</th>
                                        <th data-field="total-profit">Total Profit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>USA</td>
                                        <td>65</td>
                                        <td>$452.55</td>
                                    </tr>
                                    <tr>
                                        <td>UK</td>
                                        <td>76</td>
                                        <td>$452.55</td>
                                    </tr>
                                    <tr>
                                        <td>Canada</td>
                                        <td>65</td>
                                        <td>$452.55</td>
                                    </tr>
                                    <tr>
                                        <td>Brazil</td>
                                        <td>76</td>
                                        <td>$452.55</td>
                                    </tr>
                                    <tr>
                                        <td>India</td>
                                        <td>65</td>
                                        <td>$452.55</td>
                                    </tr>
                                    <tr>
                                        <td>France</td>
                                        <td>76</td>
                                        <td>$452.55</td>
                                    </tr>
                                    <tr>
                                        <td>Austrelia</td>
                                        <td>65</td>
                                        <td>$452.55</td>
                                    </tr>
                                    <tr>
                                        <td>Russia</td>
                                        <td>76</td>
                                        <td>$452.55</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="modal mt-4" id="Loginform"></div>
</div>

@section Scripts
{
    <!-- END: Footer-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/app-assets/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/app-assets/vendors/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="~/app-assets/js/plugins.js" type="text/javascript"></script>
    <script src="~/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/app-assets/js/scripts/charts-sparklines.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/chartjs/chart.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/app-assets/js/scripts/card-advanced.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
    <script src="~/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/lib/jquery-confirm/dist/jquery-confirm.min.js"></script>
    <script src="~/app-assets/js/particles.js"></script>
    <script src="~/app-assets/js/particles.init.js"></script>


    <script>


        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                placeholder: "Select a state",
            });

            $('#fecha').datepicker({
                format: 'dd/mm/yyyy'

            });
        });

        if ("@accessoDenegado.Tipo.Length" > 0) {
            $.confirm({


             title: 'Acceso Denegado',
             content: 'Usted no tiene los privilegios para acceder a este modulo',
             type: 'red',
             typeAnimated: true,
             boxWidth: '500px',
             autoClose: 'cerrar|5000',
             useBootstrap: false,
             buttons: {
             cerrar:  {
                        text: "Cerrar",
                        action: function () { }
                    }
              }

                //title: 'Iniciar sesión',
                //content: '' +
                //    '<form class="login-form"  action="/Usuarios/Usuario/LoginPartial" method="post">' +
                //    '<div class="row">' +
                //    '<div class="input-field col s12">' +
                //    '<h5 class="ml-4">Inicio de Sesión</h5>' +
                //    '</div>' +
                //    '</div>' +
                //    '<div class="row margin">' +
                //    '<div class="input-field col s12">' +
                //    '<input id="username" type="text" name="UserName"> ' +
                //    '<label for="username" class="center-align">Usuario</label>' +
                //    '</div>' +
                //    '</div>' +
                //    '<div class="row margin">' +
                //    '<div class="input-field col s12">' +
                //    '<input id="password" type="text" name="Password"> ' +
                //    '<label for="password" class="center-align">Contraseña</label>' +
                //    '</div>' +
                //    '</div>' +
                //   '</form>',
                //buttons: {
                //    formSubmit: {
                //        text: 'Iniciar sesión',
                //        btnClass: 'btn-blue',
                //        action: function() {

                //            var user = this.$content.find('#username').val();
                //            var pass = this.$content.find('#password').val();


                //            var model =
                //            {
                //                UserName: user,
                //                Password: pass
                //            }

                //            console.log(model);
                //            if (model.UserName.length > 0 && model.Password.length > 0) {
                //                alert("olwen")
                //                $.ajax({
                //                    type: 'post',
                //                    url: '/Usuarios/Usuario/ResetPasswordModal',
                //                    data: model
                //                });
                //            } else {
                //                $.confirm({
                //                    title: 'Información incorrecta',
                //                    content: 'verifique el usuario y la contraseña',
                //                    type: 'red',
                //                    typeAnimated: true,
                //                    boxWidth: '500px',
                //                    autoClose: 'cerrar|5000',
                //                    useBootstrap: false,
                //                    buttons: {
                //                        cerrar: function() {}
                //                    }
                //                });
                //            }
                //        }
                //    },
                //    cancelar: function() {
                //        //close
                //    },
                //},
                //oncontentready: function() {
                //    // bind to events
                //    var jc = this;
                //    this.$content.find('form').on('submit',
                //        function(e) {
                //            // if the user submits the form by pressing enter in the field.
                //            e.preventdefault();
                //            jc.$$formsubmit.trigger('click'); // reference the button and click it
                //        });
                //},
                //onclose: function() {
                //    // before the modal is hidden.
                //    $.ajax({
                //        type: 'get',
                //        url: '/home/cleartempdata',
                //        success: function() {

                //        }
                //    });
                //}
            });
        }

        if ("@mensaje.Tipo".length > 0) {
            $.confirm({
                title: '@mensaje.Titulo',
                content: '@mensaje.Texto',
                type: '@mensaje.Tipo',
                typeAnimated: true,
                boxWidth: '500px',
                autoClose: 'cerrar|5000',
                useBootstrap: false,
                buttons: {
                    cerrar:  {
                        text: "Cerrar",
                        action: function () { }
                    }
                },
                onClose: function() {
                    // before the modal is hidden.
                    $.ajax({
                        type: 'get',
                        url: '/home/ClearTempData',
                        success: function() {

                        }
                    });
                }
            });
        }

        //$('a.twitter').confirm({
        //    content: "...",
        //});
        //$('a.twitter').confirm({
        //    buttons: {
        //        text:'si',
        //        hey: function () {
        //            location.href = this.$target.attr('href');
        //        }
        //    }
        //});


         function idioma(url) {
            $.confirm({
                title: 'Cambiar Locacizacion',
                content: '"Afectara lo siguente',
                type: 'blue',
                boxWidth: '1000px',
                useBootstrap: false,
                typeAnimated: true,
                buttons: {
                    eliminar: {
                        text: 'Confirmar',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                type: 'get',
                                url: url,
                            });
                        }
                    } ,
                    Close:  {
                        text: "Cerrar",
                        action: function () { }
                    }
                }
            });
        }

    </script>
}
