@using Andamios.Web.Helpers
@using Microsoft.AspNetCore.Razor.Language.CodeGeneration
@model Inafocam.Web.Areas.ConvocatoriaDeBecas.Models.ScholarshipProgramUniversityModel

@{ ViewData["Title"] = "Create";

    MensajesViewModel mensaje = new MensajesViewModel();

    if (TempData["mensaje"] != null)
    {

        mensaje = TempData.Get<MensajesViewModel>("mensaje");

    } }

@section Style
{
    <link href="~/app-assets/vendors/noUiSlider/nouislider.css" rel="stylesheet" />
    <link href="~/app-assets/css/custom/custom.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-confirm/dist/jquery-confirm.min.css" rel="stylesheet" />
}


@* BREADCRUMB *@
@await Component.InvokeAsync("BreadcrumbComponent", new
{
    area = (string)ViewData["area"],
    controlador = (string)ViewData["controlador"],
    controller = (string)ViewData["controller"],
    vista = (string)ViewData["vista"]
})
@* END BREADCRUMB *@



<div class="row">
    <form class="col s12 formValidate" method="post" asp-area="ConvocatoriaDeBecas" asp-controller="ConvocatoriaDeBeca" asp-action="GuardarConvocatoriaDeBeca">

        <input asp-for="ScholarshipProgramUniversityId" type="hidden" />
        <input asp-for="CreationDate" type="hidden" />
        @*<input asp-for="CoordinatorId" type="hidden" />
            <input asp-for="TechnicalId" type="hidden" />*@
        @* Detalles del programa*@
        <div>
            <span asp-validation-sumary=""></span>
        </div>


        <div class="card">
            <div class="card-content">

                <h4 class="card-title">Detalles del Programa</h4>

                <div class="row ">


                    <div class="input-field col s12 m6 l3">
                        <div class="row">
                            <label for="select2User" class="col s12">Universidad</label>
                        </div>
                        <select asp-for="UniversityId" class="form-control js-example-basic-single" style="width: 100%" asp-items="ViewBag.University">
                            <option value="">Seleccione una Opción</option>
                        </select>
                        @* <span asp-validation-for="UniversityId"></span>*@

                    </div>

                    <div class="input-field col s12 m6 l3">
                        <div class="row">
                            <label for="select2User" class="col s12">Programa de Becas</label>
                        </div>
                        <select asp-for="ScholarshipProgramId" class="form-control js-example-basic-single" style="width: 100%" asp-items=" ViewBag.scholarshipProgram">
                            <option value="" disabled selected>Seleccione una Opción</option>
                        </select>


                    </div>

                    <div class="input-field col s12 m6 l3">
                        <input asp-for="ScatProgramCode" id="codigodescat" type="text" class="validate">
                        <label for="codigodescat">Codigo de SCAT</label>
                        <span class="red-text validationDisplay"></span>
                    </div>

                    <div class="input-field col s12 m6 l3">
                        <input asp-for="ContractNumber" id="nocontrato" type="text" class="validate">
                        <label for="nocontrato">No. Contrato</label>
                        <span class="red-text validationDisplay"></span>
                    </div>






                </div>

                <div class="row">

                    <div class="input-field col s12 m6 l3">
                        <div class="row">
                            <label for="select2User" class="col s12">Nivel</label>
                        </div>
                        <select asp-for="ScholarshipLevelId" class="form-control js-example-basic-single" style="width: 100%" asp-items="ViewBag.Nivel">
                            <option value="" disabled selected>Seleccione una Opción</option>
                        </select>


                    </div>

                    <div class="input-field col s12 m6 l3">
                        <div class="row">
                            <label for="select2User" class="col s12">Estado</label>
                        </div>
                        <select asp-for="StatusId" class="form-control js-example-basic-single" style="width: 100%" asp-items="ViewBag.Status">
                            <option value="" disabled selected>Seleccione una Opción</option>
                        </select>


                    </div>

                    <div class="input-field col s12 m6 l3">
                        <div class="row">
                            <label for="select2User" class="col s12">Tecnico</label>
                        </div>
                        <select asp-for="TechnicalId" class="form-control js-example-basic-single" style="width: 100%" asp-items="ViewBag.Technical">
                            <option value="" disabled selected>Seleccione una Opción</option>
                        </select>


                    </div>

                    <div class="input-field col s12 m6 l3">
                        <div class="row">
                            <label for="select2User" class="col s12">Coordinador</label>
                        </div>
                        <select asp-for="CoordinatorId" class="form-control js-example-basic-single" style="width: 100%" asp-items=" ViewBag.Coordinator">
                            <option value="" disabled selected>Seleccione una Opción</option>
                        </select>


                    </div>





                </div>

                <div class="row">
                    <div class="s6 m6 l6">


                        <div class="input-field col s12 m6 l6">
                            <input asp-for="AnnouncementStartDate" type="text" class="datepicker" id="inicioConvocatoria">
                            <label for="inicioConvocatoria">Inicio de Convocatoria</label>
                        </div>

                        <div class="input-field col s12 m6 l6">
                            <input asp-for="AnnouncementEndDate" type="text" class="datepicker" id="finConvocatoria">
                            <label for="finConvocatoria">Fecha de Termino</label>
                        </div>
                    </div>

                    <div class="s6 m6 l6">

                        <div class="input-field col s12 m6 l6">
                            <input asp-for="StartDate" type="text" class="datepicker" id="inicioPrograma">
                            <label for="inicioPrograma">Inicio de Programa</label>

                        </div>

                        <div class="input-field col s12 m6 l6">
                            <input asp-for="EndDate" type="text" class="datepicker" id="finPrograma">
                            <label for="finPrograma">Fecha de Termino</label>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="input-field col s12">

            <button class="teal btn waves-effect waves-light" type="submit">
                <i class="material-icons left">save</i>
                Guardar
            </button>



            <a class="btn waves-effect waves-light" asp-controller="ConvocatoriaDeBeca" asp-action="Index">
                <i class="material-icons left">list</i>
                Ir a La Lista
            </a>

            @*<a class="white btn waves-effect waves-light black-text" asp-controller="ConvocatoriaDeBeca" asp-action="Crear">
                    <i class="material-icons left">cleaning_services</i>
                    Limpiar
                </a>*@

        </div>

    </form>
</div>

@section Scripts
{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/app-assets/vendors/jquery-validation/jquery.validate.js"></script>
    <script src="~/app-assets/vendors/jquery-validation/additional-methods.js"></script>
    <script src="~/app-assets/vendors/jquery-cookies/jquery.cookies.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- BEGIN VENDOR JS-->
    <script src="~/app-assets/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME JS-->
    <script src="~/app-assets/js/plugins.js" type="text/javascript"></script>
    <script src="~/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/app-assets/js/toastr.init.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/formatter/jquery.formatter.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/app-assets/vendors/jquery-validation/additional-methods.js"></script>
    @*<script src="~/app-assets/js/scripts/form-elements.js"></script>
        <script src="~/app-assets/js/scripts/form-masks.js"></script>
        @*<script src="~/app-assets/js/scripts/form-layouts.js" type="text/javascript"></script>*@
    @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

    <script src="~/app-assets/js/scripts/extra-components-sweetalert.js" type="text/javascript"></script>
    <script src="~/lib/jquery-confirm/dist/jquery-confirm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <script>
        @*$('#descripcionTxtArea').val('@Model.Descripcion');
        M.textareaAutoResize($('#textarea2'));*@


        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                placeholder: "Seleccione una Opción",
            });
        });

             if ("@mensaje.Tipo".length > 0) {
            $.confirm({
                title: '@mensaje.Titulo',
                content: '@mensaje.Texto',
                type: '@mensaje.Tipo',
                typeAnimated: true,
                boxWidth: '500px',
                autoClose: 'cerrar|5000',
                useBootstrap: false,
                buttons: {
                    cerrar:{
                        text: "Cerrar",
                        action: function () { }
                    }
                },
                onClose: function () {
                    // before the modal is hidden.
                    $.ajax({
                        type: 'get',
                        url: '/home/ClearTempData',
                        success: function() {

                        }
                    });
                }
            });

        }

        // Or with jQuery

        $(document).ready(function () {
            $('.datepicker').datepicker();
        });

    </script>
}
