@*<li class="bold">
    <a class="collapsible-header waves-effect waves-cyan " href="#">
        <i class="material-icons">reply</i><span class="menu-title" data-i18n="">@ShareLocalizer["Módulos"]</span>
    </a>
    <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
            <li>
                <a class="collapsible-body" data-i18n="" asp-area="Clientes" asp-controller="Cliente" asp-action="Index">
                    <i class="material-icons">radio_button_unchecked</i><span>@ShareLocalizer["Clientes"]</span>
                </a>
            </li>
            <li>
                <a class="collapsible-body" data-i18n="" asp-area="Suplidores" asp-controller="Suplidor" asp-action="Index">
                    <i class="material-icons">radio_button_unchecked</i><span>@ShareLocalizer["Suplidores"]</span>
                </a>
            </li>
            <li>
                <a class="collapsible-body" data-i18n="" asp-area="Inventario" asp-controller="Inventario" asp-action="Index">
                    <i class="material-icons">radio_button_unchecked</i><span>@ShareLocalizer["Inventario"]</span>
                </a>
            </li>
            <li>
                <a class="collapsible-body" data-i18n="" asp-area="Contratos" asp-controller="Contrato" asp-action="Index">
                    <i class="material-icons">radio_button_unchecked</i><span>@ShareLocalizer["Contratos"]</span>
                </a>
            </li>
            <li>
                <a class="collapsible-body" data-i18n="" asp-area="Facturacion" asp-controller="Facturacion" asp-action="Index">
                    <i class="material-icons">radio_button_unchecked</i><span>@ShareLocalizer["Facturación"]</span>
                </a>
            </li>

            <li>
                <a class="collapsible-body" data-i18n="" asp-area="Comprobantes" asp-controller="ComprobanteFiscal" asp-action="Index">
                    <i class="material-icons">radio_button_unchecked</i><span>@ShareLocalizer["Comprobantes"]</span>
                </a>
            </li>
            <li>
                <a class="collapsible-body" data-i18n="" asp-area="CuentasPorCobrar" asp-controller="CuentasPorCobrar" asp-action="Index">
                    <i class="material-icons">radio_button_unchecked</i><span>@ShareLocalizer["Cuentas por cobrar"]</span>
                </a>
            </li>

            <li>
                <a class="collapsible-body" data-i18n="" asp-area="Reportes" asp-controller="Reportes" asp-action="Index">
                    <i class="material-icons">radio_button_unchecked</i><span>@ShareLocalizer["Reportes"]</span>
                </a>
            </li>

            <li>
                <a class="collapsible-body" data-i18n="" asp-area="Usuarios" asp-controller="Usuario" asp-action="Index">
                    <i class="material-icons">radio_button_unchecked</i><span>@ShareLocalizer["Seguridad"]</span>
                </a>
            </li>

        </ul>
    </div>
</li>*@